<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njwd.financeback.mapper.TaxCategoryMapper">

    <insert id="addBatch">
        INSERT INTO `wd_tax_category` (
            `code`
            ,`name`
            ,`tax_system_id`
            ,`precision`
            ,`rounding_type`
            ,`is_vat`
            ,`is_approved`
            ,`is_released`
            ,`creator_id`
            ,`creator_name`
            ,`root_enterprise_id`
            ,`platform_id`
            )
        VALUES
        <foreach collection="list" item="p" separator=",">
            (
              #{p.code} ,
              #{p.name} ,
              #{p.taxSystemId} ,
              #{p.precision} ,
              #{p.roundingType} ,
              #{p.isVat} ,
              #{p.isApproved} ,
              #{p.isReleased} ,
              #{p.creatorId} ,
              #{p.creatorName} ,
              #{p.rootEnterpriseId} ,
              #{p.platformId}
            )
        </foreach>
    </insert>

</mapper>