<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njwd.platform.mapper.CredentialWordMapper">

    <sql id="Base_Column_List">
        wcw.`id`,
      wcw.`code`,
      wcw.`name`,
      wcw.`type`,
      wcw.`is_approved`,
      wcw.`is_released`,
      wcw.`is_enable`,
      wcw.`is_del`,
      wcw.`create_time`,
      wcw.`creator_id`,
      wcw.`creator_name`,
      wcw.`update_time`,
      wcw.`updator_id`,
      wcw.`updator_name`,
      wcw.`manage_info`
    </sql>

    <!-- 查询凭证字 -->
    <select id="findCredentialWord" resultType="com.njwd.entity.platform.vo.CredentialWordVo">
        select cw.id,
        cw.code,
        cw.name,
        cw.type,
        cw.is_approved,
        cw.is_released,
        cw.is_enable,
        cw.is_del,
        cw.version
        from wd_credential_word cw
        <where>
            <if test="credentialWordDto.isDel != null">
                and cw.is_del = #{credentialWordDto.isDel }
            </if>
            <if test="credentialWordDto.name != null and credentialWordDto.name != ''">
                and cw.name = #{credentialWordDto.name}
            </if>
            <if test="credentialWordDto.id != null">
                and cw.id = #{credentialWordDto.id}
            </if>
        </where>
        limit 1
    </select>

    <!-- 查询凭证字分页 -->
    <select id="findCredentialWordPage" resultType="com.njwd.entity.platform.vo.CredentialWordVo">
        select cw.id,
        cw.`code`,
        cw.`name`,
        cw.type,
        cw.is_approved,
        cw.is_released,
        cw.is_enable,
        cw.is_del,
        cw.create_time,
        cw.creator_id,
        cw.creator_name,
        cw.update_time,
        cw.updator_id,
        cw.updator_name,
        cw.manage_info,
        cw.version
        from wd_credential_word cw
        <where>
            <if test="credentialWordDto.codeOrName != null and credentialWordDto.codeOrName != ''">
                and (cw.code like concat('%', #{credentialWordDto.codeOrName}, '%')
                or cw.name like concat('%', #{credentialWordDto.codeOrName}, '%'))
            </if>
            and cw.is_enable = 1
            and cw.is_del = 0
            <if test="credentialWordDto.isReleased != null">
                and cw.is_released = #{credentialWordDto.isReleased}
            </if>
            <if test="credentialWordDto.isApproved != null">
                and cw.is_approved = #{credentialWordDto.isApproved}
            </if>
        </where>
        order by substring(cw.code,4) * 1
    </select>

    <!-- 查询凭证字列表 -->
    <select id="findCredentialWordList" resultType="com.njwd.entity.platform.vo.CredentialWordVo">
        select cw.id,
        cw.`code`,
        cw.`name`,
        cw.type,
        cw.is_approved,
        cw.is_released,
        cw.is_enable,
        cw.is_del,
        cw.create_time,
        cw.creator_id,
        cw.creator_name,
        cw.update_time,
        cw.updator_id,
        cw.updator_name,
        cw.manage_info,
        cw.version
        from wd_credential_word cw
        <where>
            <if test="credentialWordDto.codeOrName != null and credentialWordDto.codeOrName != ''">
                and (cw.code like concat('%', #{credentialWordDto.codeOrName}, '%')
                or cw.name like concat('%', #{credentialWordDto.codeOrName}, '%'))
            </if>
            and cw.is_enable = 1
            and cw.is_del = 0
            <if test="credentialWordDto.isReleased != null">
                and cw.is_released = #{credentialWordDto.isReleased}
            </if>
            <if test="credentialWordDto.isApproved != null">
                and cw.is_approved = #{credentialWordDto.isApproved}
            </if>
        </where>
        order by substring(cw.code,4) * 1
    </select>

</mapper>
