<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njwd.basedata.mapper.SequenceMapper">
  <resultMap id="BaseResultMap" type="com.njwd.entity.basedata.Sequence">
    <!--@mbg.generated-->
    <id column="seq_name" jdbcType="VARCHAR" property="seqName" />
    <result column="current_val" jdbcType="INTEGER" property="currentVal" />
    <result column="increment_val" jdbcType="INTEGER" property="incrementVal" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    seq_name, current_val, increment_val,company_id
  </sql>

  <select id="findCurrentValue"  resultType="int">
    select currval(#{name},#{companyId},#{type});
  </select>

  <select id="findNextValue"  resultType="int">
    select nextval(#{name},#{companyId},#{type} );
  </select>
  <update id="resetNextValue">
    update
        wd_sequence
    set current_val = #{code,jdbcType=INTEGER}
    where
        seq_name = #{name,jdbcType=VARCHAR}
    and val_id = #{companyId,jdbcType=BIGINT}
    and seq_type = #{type,jdbcType=TINYINT};
  </update>
</mapper>